:root {
    --back-color:  #ADBBDA;
    --secondary-color: #3D52A0;
    --third-color: #8692c4;
  }

*{
    background-color: white;
    
}    

.home-main{
    display: flex;
    justify-content: space-between;
}

@media (max-width: 480px){
    .home-main{
        display: inline;
    }
}