.channel-profile {
    width: 99%;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    margin: 3px auto;
  }
  
  .cover-image img {
    width: 100%;
    height: 200px;
    object-fit: cover;
  }
  
  .profile-details {
    display: flex;
    align-items: center;
    padding: 16px;
  }

  .avatar{
    margin-left: 100px;
  }
  
  .avatar img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid #fff;
  }
  
  .info {
    margin-left: 20px;
  }
  
  .full-name {
    margin: 0;
    font-size: 24px;
    font-weight: bold;
  }
  
  .username {
    margin: 4px 0;
    font-size: 18px;
    color: #777;
  }
  
  .subscribers {
    margin: 4px 0;
    font-size: 16px;
    color: #555;
  }
  
  .subscribe-button {
    padding: 8px 16px;
    font-size: 16px;
    color: #fff;
    background-color: #f00;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .subscribe-button:hover {
    background-color: #d00;
  }

  .subscribed{
    background-color: #777;
    color: white;
  }

  .video-tweet{
    width: 80vw;
    height: 30px;
    /* border: 2px solid red; */
    display: flex;
    justify-content: left;
    align-items: center;
    margin: 20px;
    margin-left: 10px;
    gap: 10px;

  }

  .section{
    width: 100px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    cursor: pointer;

  }

  .section img{
    width: 30px;
    height: 30px;
    margin-right: 5px;
  }

  .selected-section{
    border-bottom: 3px solid red;
  }
  

  .show-videos{
    width: 98%;
    display: flex;
    flex-wrap: wrap;

  }
  #video-channel-Link{
    text-decoration: none;
    color: black;
  }

  .channel-videos{
    /* border: 2px solid red; */
    width: 99%;
    margin: 3px auto;

  }

  